/* .App {
  text-align: center;
} */

@import url(//fonts.googleapis.com/css?family=Nunito);

/* html {
  scroll-behavior: smooth;
} */

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #424874;
}